html{
  font-size: 18px;
}
body{
  color: white;
  padding: 100px;
  font-family: Helvetica;
  font-weight: bold;
  width: 960px;
}
.navigation a{
  color: white;
  align-items: center;
}
.title{
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  background-color: black;
  font-size: 1rem;
}
.title img{
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  padding-top: 9rem;
}
.cycle-img{
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
  padding-top: 9rem;
}
.navigation{
  background-color: firebrick;
  padding-top: .075rem;
  padding-bottom: .075rem;
}
.all-images{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: white;
}
.all-images img{
  background-color: white;
  border: 4px solid black;
  margin: 9rem;
  width: 30%;
}
.new-arrival{
  background-color: black;
  width: 20rem;
  padding-top: 2rem;
  padding-left: 3rem;
  }
.new-arrival h1{
  font-size: 2rem;
}
.new-arrival h3{
  font-size: 1rem;
  margin-top: 0.25rem
}
.pic{
  width: 33%;
}
.locations-hours{
  background-color: white;
  width: 35%;
}
.sub-text{
  background-color: black;
  text-align: center;
}
.location{
  align-items: center;
}
.hour{
  align-items: center;
}
.pic img{
  width: 8em;
}
footer{
  background-color: black;
  height: 5rem;
}
footer h5{
  text-align: left;
}
