html{
  font-size: 18px;
}
body{
  color: white;
  padding: 100px;
  font-family: Helvetica;
  font-weight: bold;
}
a{
  color: white;
}
nav span{
  margin: 0 2.1rem;
}
.company{
  width: 960px;
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-size: 1rem;
  margin: 0 auto;
}
.company img{
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.main-img{
  width: 960px;
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  padding-top: 9rem;
  margin: 0 auto;
}
.banner{
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
}
.banner h4{
  margin-bottom: 0.25rem;
  font-size: 1rem;
}
.banner h1{
  font-size: 2rem;
}
.navigation{
  display: flex;
  justify-content: center;
  background-color: firebrick;
  width: 960px;
  margin: 0 auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.all-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  background-color: white;
  width: 960px;
  margin: 0 auto;
}
.all-images .pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid black;
  width: 30%;
  margin-top: 3rem;
}
.pic img{
  height: 9rem;
  margin: 2rem 3rem;
}
.sub-text{
  background-color: black;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.locations-hours{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 0 auto;
  width: 960px;
}
.location{
  margin-top: 3rem;
  width: 35%;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.hour{
  margin-top: 3rem;
  width: 35%;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.location h4{
  color: gray;
  margin-bottom: 4rem;
}
.hour h4{
  color: gray;
  margin-bottom: 4rem;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  height: 5rem;
  width: 960px;
  margin: 0 auto;
}
footer h5{
  text-align: left;
}
@media only screen and (max-width: 1024px) {
  .all-images .pic{
    width: 47%;
  }
  .location{
    width: 35%;
  }
  .hour{
    width: 35%;
  }
  footer{
    width: 100%;
  }
  .company .main-img .all-images{
    width 100%;
  }
}
@media only screen and (max-width: 470px){
  .banner{
    padding-left: 1rem 2rem;
  }
  .banner h4 {
    font-size: 0.77rem;
  }
  .banner h1{
    font-size: 1rem;
  }
  .main-img{
    height: 10rem;
  }
  .all-images .locations .hour{
    width: 90%;
  }
  footer{
    width: 100%;
  }
  .company .main-img{
    width 100%;
  }
}
